<h2 class="offer text-center py-5 mb-0">Aktuális szakkönyv ajánlat - számítástechnika</h2>

<div class=" offer w-100 container-fluid mx-auto card-deck d-flex flex-row">
    <app-product-pager [books]="featuredComputing" class="col-12"></app-product-pager>
</div>


<h1 class="my-5">Számítástechnika szakkönyv kínálatunk</h1>


<div>
    <form class="form-inline my-2 my-lg-0 d-flex justify-content-end">
        <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>
<h3>A kategória kiemelt termékei</h3>
<app-book-pager [books]="cat2Books"></app-book-pager>


<app-book-list [propValue]='2' [phraseString]='phrase' class="col-12" [books]="booksList"></app-book-list>