<h2 class=" offer text-center py-5 mb-0">Aktuális ajánlat - kiemelt könyvek</h2>

<h1 class="text-center py-3">Kiemelt termékek</h1>
<!-- <app-book-pager [books]="featuredBooks"></app-book-pager> -->
<div class="py-3 d-flex justify-content-center">
    <app-book-pager [books]="booksList$ | async | randomiser | featured:true | active:true | slicer:5">
    </app-book-pager>
</div>

<h1 class="text-center py-3">Akciós termékek</h1>

<div class="py-3 d-flex justify-content-center">
    <app-book-pager [books]="booksList$ | async | randomiser | active:true | slicer:5"></app-book-pager>
</div>