<h2 class=" offer text-center py-5 mb-0">Aktuális ajánlat - kiemelt könyvek</h2>

<div class="offer w-100 container-fluid mx-auto card-deck d-flex flex-row">
    <app-product-pager [books]="featuredBooks" class="col-12"></app-product-pager>
</div>


<h1 class="mt-5">Teljes kínálatunk</h1>


<div>
    <form class="form-inline my-2 my-lg-0 d-flex justify-content-end">
        <input (keyup)="onChangePhrase($event)" class="form-control mr-sm-2" type="text" placeholder="Search">
        <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
    </form>
</div>




<div class="w-100 container-fluid mx-auto card-deck d-flex flex-row">
    <app-book-list [phraseString]='phrase' class="col-12" [books]="booksList"></app-book-list>
</div>